---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>My Astro Site</h1>
  </body>
</html>

<!-- git init
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/andresrxn/astro-blog.git
git push -u origin main -->
